<!doctype html>
<html lang="en">

<head>
	<title>Pilot's Logbook</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="../style.css" rel="stylesheet" />
</head>

<body>
	<h1>{{Pilot Logbook}}</h1>
	<table>
		<thead>
			<tr>
				<th>Year: 2023</th>
			</tr>
			<tr>
				<th>Month</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>May</td>
				<td>14</td>
			</tr>
		</tbody>
		<tfoot></tfoot>
	</table>
</body>

</html>
